h1 {
  z-index: 3;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: bold;
  text-align: center;
  border-top: 3px solid #15903e;
  border-bottom: 3px solid #15903e;
  margin: 2rem 0 3rem;
  color: #fff;
}
